
  .charts{
    background-color: black;
    width: 1048px;
    margin-top: 20px;
    margin-left: 110px;
    border-radius : 10px;
    margin-bottom: 30px;
 
   
   
 }
 
 .btns{
     margin-left: 100px;
     margin-top: 20px;
 }
 
 
 
 